body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

button {
    margin: 10px;
    padding: 10px;
}

#userBalance {
    margin: 20px;
}
